.footer {
  background-color: $darkBlue;
  color: $white;
  text-align: center;
  padding: 2.5rem;

  a {
    color: $white;
  }

  &__ {

    &logo {
      display: inline-block;
      margin-bottom: 1.875rem;
      
      @include breakpoint-up(medium) {
        grid-area: logo;
        margin-bottom: 0;
        align-self: start;
        text-align-last: left;
      }
    }

    &social {
      min-width: 184px;
      margin-bottom: 1.875rem;
      padding: 0;

      @include breakpoint-up(medium) {
        grid-area: social;
        margin-bottom: 0;
        align-self: end;
        text-align-last: left;
      }

      a {
        display: inline-block;

        svg path {
          transition: all .3s ease;
        }

        &:hover svg path{
          fill: $limeGreen;
        }

        &:not(:last-child) {
          margin-right: 1rem;
        }
        
        img {
          display: block;
        }
      }
    }

    &links {
      display: flex;
      flex-direction: column;
      
      a {
        display: inline-block;
        margin-bottom: 1rem;
        transition: all .3s ease-in-out;

        &:hover {
          color: $limeGreen;
        }

        @include breakpoint-up(medium) {
          margin-bottom: 0;
        }
      }

      &.col {
        display: flex;
        height: 100%;
        justify-content: space-between;
        align-items: center;

        @include breakpoint-up(medium) {
          align-items: flex-start;
        }
      }

      &.col1 {
        @include breakpoint-up(medium) {
          grid-area: links1;
        }
      }

      &.col2 {
        margin-bottom: 1.875rem;

        @include breakpoint-up(medium) {
          grid-area: links2;
          margin-bottom: 0;
        }
      }
    }

    &cta {

      @include breakpoint-up(medium) {
        grid-area: copyright;
        text-align: right;
      }

      a.btn {
        margin-bottom: 1.875rem;
      }
    }

    &copyright {
      font-size: 0.875rem;
      color: $grayishBlue;
    }
  }

  &__content {
    @include breakpoint-up(medium) {
      display: grid;
      grid-template-columns: repeat(3, 1fr) 2fr;
      grid-template-rows: repeat(2, 1fr);
      grid-gap: 0 5rem;
      grid-template-areas: 
        "logo links1 links2 copyright"
        "social links1 links2 copyright"
      ;
    }
  }
  
}