.header {
  @include breakpoint-down(medium) {
    width: 100%;
    background-color: $white;
    top: 0;
    position: fixed;
  }

  &.active {

    .header__toggle > span {

      &:first-child {
        transform: rotate(45deg);
      }

      &:nth-child(2) {
        opacity: 0;
      }

      &:last-child {
        transform: rotate(-45deg);
      }
    }

    .overlay {
      animation: fade-in .2s ease-in-out forwards;
    }

    .header__menu {
      transform: scale(1);
    }
  }

  nav {
    padding-top: 1.0625rem;
    padding-bottom: 1.0625rem;
  }

  &__ {
    &logo {

      img {
        display: block;
        width: 8.8125rem;
        height: 1.375rem;
      }
    }

    &toggle { // Burger Menu for mobile layout

      > span {
        display: block;
        width: 26px;
        height: 2px;
        background-color: $darkBlue;
        transform-origin: 4.5px 1px;
        transition: transform .3s ease-in-out, opacity .2s ease;

        &:not(:last-child) {
          margin-bottom: 4px;
        }
      }

    }

    &links {
      a {
        position: relative;
        color: $grayishBlue;
        transition: color .2s ease-in-out;

        &:not(:last-child) {
          margin-right: 30px;
        }

        &:before {
          content: '';
          position: absolute;
          width: 0%;
          bottom: -31px;
          opacity: 0;
          height: 5px;
          background: linear-gradient(to right, $limeGreen, $brightCyan);
          background-size: 200% 200%;
          transition: all .3s ease-in-out;
        }

        &:hover {
          color: $darkBlue;

          &:before {
            width: 100%;
            opacity: 1;
            left: 0;
          }
        }
      }
    }

    &cta {
      color: $white;
      opacity: 0.75;
      transition: opacity .3s ease-in-out;

      &:hover {
        opacity: 1;
      }
    }

    &menu {
      width: calc(100% - 3rem);
      position: absolute;
      margin: 1.5rem 1.5rem 0 1.5rem;
      padding: 1.5rem 1.625rem;
      background-color: $white;
      border-radius: 3px;
      transform: scale(0);
      transition: transform .2s ease-in-out;
      
      a {
        display: block;
        padding: 0.625rem 4.625rem;
        color: $darkBlue;
        text-align: center;
        transition: color .3s ease-in-out;

        &:focus {
          color: $grayishBlue;
        }
      }
    }
  }

  .overlay {
    position: fixed;
    background-image: linear-gradient(to bottom, $darkBlue, #fff);
    top: 3.5rem;
    left: 0;
    right: 0;
    height: 100vh;
    animation: fade-out .3s ease-in-out forwards;
  } 
}

.page {
  @include breakpoint-down(medium) {
    margin-top: 56px;
  }
}